html
  body
    // Pulling Awesome Font
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='vendor/bootstrap/css/login.css', rel='stylesheet')
    link(href='vendor/bootstrap/css/bootstrap.css', rel='stylesheet')
    .container
      .row
        .col-md-offset-5.col-md-3
          .form-login
           
           form(name='login' method='post' action='/')
            h4 Welcome back.
            input(name='username' type='text' placeholder='username')
            br
            br
            input(name='password' type='password' placeholder='password')
            br
            br
            input.btn.btn-primary(type='submit', value='Login')
           form(action='/register')
             input.btn.btn-info(type='submit', value='Register')
